<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>Welcome to Burger Haven!</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js" integrity="sha256-36hEPcG8mKookfvUVvEqRkpdYV1unP6wvxIqbgdeVhk=" crossorigin="anonymous"></script>
		<script src="/public/assets/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
